page-login {
    ion-title {
        margin-top: 30vh;
        margin-bottom: 5vh;
    }
    ion-list {
        margin-top: 30vh;
        width: 80%;
    }
    .logo-teste {
        width: 6px;
        height: 5px;
    }
}